<!-- <p>login works!</p>-->
<mat-icon>home</mat-icon> 
<button mat-button color="warn">Warning</button>
<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>
   <span>My App</span>
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon>favorite</mat-icon>
   </button>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
 </mat-toolbar>
<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <div class="text">LOGIN FORM</div>
    </mat-card-content>
</mat-card>
